@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --plumbum: rgb(35,35,35);
    --ice: rgb(237,237,237);
    --orange: rgb(255,70,10);
    --dark-plumbum: rgb(17,17,17);

    --main-font: 'IBM Plex Sans', serif;
    --main-font-regular: 400;
    --main-font-light: 300;
}

.header{
    margin: none;
    padding: none;
    background-color: var(--dark-plumbum);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.5rem;
}

.header img{
    width: 15%;
    height: 15%;
    margin: 0.625rem;
}

.header h3{
    margin: 0.625rem 0.9375rem;
    color: var(--ice);
    font-family: var(--main-font);
    font-weight: var(--main-font-regular);
}

body{
    background-color: var(--plumbum);
    font-family: var(--main-font);
    font-weight: var(--main-font-regular);
}

.chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.chat-messages{
    height: auto;
    max-height: 83.5%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    scroll-behavior: auto;
    scrollbar-width: none;
    position: absolute;
    bottom: 5.625rem;
}

.incoming-message{
    margin: 0.3125rem 0.3125rem;
    width: auto;
    max-width: 90%;
    padding: 0.625rem;
    height: auto;
    background-color: var(--orange);
    color: white;
    box-shadow: 0.3125rem 0.3125rem rgb(255,162,122);
    font-size: 1.25rem;
    border-radius: 0.3125rem;
}

.outgoing-message{
    width: auto;
    max-width: 90%;
    padding: 0.625rem 1.25rem;
    height: auto;
    background-color: var(--ice);
    color: var(--plumbum);
    box-shadow: 0.3125rem 0.3125rem white;
    font-size: 1.25rem;
    border-radius: 0.3125rem;
}

.time{
    width: auto;
    color: white;
    display: block;
    font-size: 0.75rem;
    margin: 0.5rem 0 0;
    padding-left: 0.625rem;
}

.text-box{
    width: 70%;
    height: 6%;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0.625rem;
    align-items: center;
    border-radius: 0.9375rem;
}

.form-control{
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    width: 93%;
}

.icon-left{
    width: 1.5625rem;
    height: 1.5625rem;
    padding: 0 0.625rem;
}

.icon-right{
    width: 1.5625rem;
    height: 1.5625rem;
}